.headerCss{
    background-color: #35424a;
    color: white;
    font-style:normal;
    font-size:35px;
    padding: 1%;
    width: 100%;
    z-index: 100;
    text-shadow: 2px 2px 2px black; 
}

.profile {
    float: right;
    display: flex;
}
.info {
    padding-top: 20px;
    padding-right: 10px;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .headerCss {
          font-size: 20px;
          text-align: center;
          margin-top: 0px;
          height: 80px;
          padding-left:0px;
          padding-right:0px;
          width: 100%;
      }
  }
  


